html, body{
    width: 100%;
    height: 100%;
}

.figContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.btn{
    width: 100%;
}
.page{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
form{
    width: 50%;
}
.output{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mainDiv{
    width: 20rem;
    border: 2px solid black;
    padding: 1rem;
    border-radius: 7px;
    box-shadow: 0px 0px 10px 1px rgb(71, 71, 71);
    background-color: rgb(237, 230, 230);
}

.outputContainer{
    display: flex;
    justify-content: center;
    align-items: center; 
}